<!DOCTYPE html>
{% load static %}
<html>
<head>
<title>{% block title %}Dragon Poker Album{% endblock %}</title>
<link rel="stylesheet" type="text/css" href={% static "normalize.css" %}>
<link rel="stylesheet" type="text/css" href={% static "header.css" %}>
<meta charset="utf-8">
</head>
<body>
{% block header %}
<div class="header">
  <ul class="header">
    <li><a href="/album/">Home</a></li>
    <li><a href="http://mg1.duckdns.org/wiki/">Wiki</a></li>
    <li style="visibility:hidden;"><a href="/album/#news">News</a></li>
    <ul style="float:right;list-style-type:none;">
      <li style="visibility:hidden;"><a href="#login">Login</a></li>
      <li><a href="/album/asearch/">Advanced Search</a></li>
      <li>
        <form class="bsearchbox" action="/album/search/" method="GET">
          <input type="text" placeholder="Card Name" name="name">
        </form>
      </li>
    </ul>
  </ul>
</div>
{% endblock %}
  <div class="content">
  {% block content %}{% endblock %}
  </div>
</body>
</html>
