{% extends "album/base.html" %}

{% block title %}Dragon Poker Album - {{ name_en }}{% endblock %}

{% block content %}
<div class="card" style="width:70%;float:left;">
  <h1>{% if translated_name_en %}
  {{ translated_name_en}}
  {% else %}
  {{ name_en}}
  {% endif %}
  <img src=http://mg1.duckdns.org/wiki/images/{{ main_skill_type_img }}>
  </h1>

  <h1>{{ name_ja }}</h1>
      {% if name_en %}
      <ul>
        <li>EVO: {{ evo_base }} &#x2192; {{ evo_final}}</li>
        <li>HP: {{ hp }}</li>
        <li>ATK: {{ attack }}</li>
        <li>DEF: {{ defense }}</li>
        <li>Max Level: {{ level }}</li>
        <li>Element: {{ element }}</li>
        <li>Types: {{ types }}</li>
        <li>Cost: {{ cost }}</li>
        <li>Orbs: {{ orb }}</li>
        <li>Skill type: {{ main_skill_type }}</li>
        <li>Main Skill: {{ main_skill_en }}</li>
          <ul>
          <li>{{ main_skill_desc_en }}</li>
          </ul>
        <li>スキル：{{ main_skill_ja }}</li>
          <ul>
          <li>{{ main_skill_desc_ja }}</li>
          </ul>
        <li>Subskill: {{ subskill_en }}</li>
          <ul>
          <li>{{ subskill_desc_en }}</li>
          </ul>
        <li>子分スキル：{{ subskill_ja }}</li>
          <ul>
          <li>{{ subskill_desc_ja }}</li>
          </ul>
          <li><a href="http://mg1.duckdns.org/wiki/index.php?title={{ name_en}}">View card page on Wiki</a></li>
        </ul>
</div>
<div class="cardpicture" style="width:30%;float:right">
  <img src="http://mg1.duckdns.org/wiki/images/{{ cardimgurl }}" alt="{{name_en}} card image" style="display:block;margin-left:auto;margin-right:auto;">
</div>
      {% else %}
      <strong> Card doesn't exist! </strong>
      {% endif %}
{% endblock %} 
